@charset "utf-8";

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: linear-gradient(#CEFF99, rgb(158, 231, 157));
}

.greet {
    text-align: center;
    margin-top: 83px;
    display: flex;
    font-size: 20px;
}

.box-1,
.box-2,
.box-3 {
    display: inline-block;
    width: 100%;
}

.class1 img {
    border-radius: 50%;
    width: 250px;
    height: 250px;
    object-fit: cover;
    justify-content: center;
}

.class1 {
    text-align: center;
    margin-top: 83px;
}

.greet2 {
    text-align: center;
    margin-top: 83px;
    font-size: 40px;
}

.btn {
    display: flex;
    margin-left: 75%;
    gap: 0 20px;
    position: fixed;
    right: 85px;
    bottom: 100px;
}

.box {
    border: 1px solid #000;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 32px;
    background-color: #DBB2FF;
}


.border1 {
    text-align: center;
    border-top: 3px solid;
    border-bottom: 3px solid;
    padding: 13px;
    width: 90%;
    margin: 166px auto 0;
    font-size: 32px;
    background-color: #BFE5DF;
}

.content {
    text-align: center;
    padding: 0 147px;
}

.work-title {
    font-size: 24px;
}

p {
    font-size: 20px;
}

.class2 {
    display: flex;
    justify-content: center;
    margin: 83px 131px 0;
}

.class2 img {
    width: 250px;
    height: 142px;
    object-fit: cover;
}

.class3 {
    display: flex;
    justify-content: center;
    margin: 83px 131px 0;
}

.class3 img {
    width: 250px;
    height: 142px;
    object-fit: cover;
}

.class4 {
    display: flex;
    justify-content: center;
    margin: 83px 131px 0;
}

.class4 img {
    width: 250px;
    height: 142px;
    object-fit: cover;
}

.class5 {
    display: flex;
    justify-content: center;
    margin: 83px 131px 0;
}

.class5 img {
    width: 250px;
    height: 142px;
    object-fit: cover;
}

.border2 {
    text-align: center;
    border-top: 3px solid;
    border-bottom: 3px solid;
    padding: 13px;
    width: 60%;
    margin: 166px auto 0;
    font-size: 32px;
    background-color: #BFE5DF;
}

.content2 {
    text-align: center;
    padding: 0 147px;
}

.class6 {
    display: flex;
    justify-content: center;
    margin: 83px 131px 0;
}

.class6 img {
    width: 250px;
    height: 142px;
    object-fit: cover;
}

.class7 {
    display: flex;
    justify-content: center;
    margin: 83px 131px 0;
}

.class7 img {
    width: 250px;
    height: 142px;
    object-fit: cover;
}

.border3 {
    text-align: center;
    border-top: 3px solid;
    padding: 13px;
    width: 90%;
    margin: 166px auto 0;
    font-size: 32px;
    background-color: #BFE5DF;
}

@media screen and (max-width: 900px) {

    /* 900pxまでの幅の場合に適用される */
    .content {
        text-align: center;
        padding: 0 20px;
    }

    .class2 {
        display: flex;
        justify-content: center;
        margin: 83px 40px 0;
    }

    .class2 img {
        width: 110px;
        height: 70px;
        object-fit: cover;
    }

    .class3 {
        display: flex;
        justify-content: center;
        margin: 83px 40px 0;
    }

    .class3 img {
        width: 110px;
        height: 70px;
        object-fit: cover;
    }

    .class4 {
        display: flex;
        justify-content: center;
        margin: 83px 40px 0;
    }

    .class4 img {
        width: 110px;
        height: 70px;
        object-fit: cover;
    }

    .class5 {
        display: flex;
        justify-content: center;
        margin: 83px 40px 0;
    }

    .class5 img {
        width: 110px;
        height: 70px;
        object-fit: cover;
    }

    .content2 {
        text-align: center;
        padding: 0 20px;
    }

    .content2 iframe {
        width: 110px;
        height: 70px;
    }

    .class6 {
        display: flex;
        justify-content: center;
        margin: 83px 40px 0;
    }

    .class6 img {
        width: 110px;
        height: 70px;
        object-fit: cover;
    }

    .class7 {
        display: flex;
        justify-content: center;
        margin: 83px 40px 0;
    }

    .class7 img {
        width: 110px;
        height: 70px;
        object-fit: cover;
    }
}
